<!DOCTYPE html>
<html>
  <head>
    <title><%= api %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= api %></h1>
    <p>Welcome to <%= api %></p>
  </body>
</html>
